.Multichain {
    background-color: #fff;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    padding: 4.25em 5em 8.5em 5em;
    position: relative;
    z-index: 1;
    &__block {
        max-width: 1278px;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 72px;
    }
    &__networks {
        font-size: 2.5em;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__num {
        font-size: 1.5em;
        color: #2962ef;
        line-height: 120%;
    }
    &__num + &__num {
        margin-bottom: 40px;
    }
    &__list {
        margin-top: 56px;
        display: flex;
        justify-content: start;
        width: 100%;
        gap: 40px;
    }
    &__item1, &__item2 {
        width: 100%;
        padding: 45px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 14px;
    }
    &__item1 {
        background-image: url(../../../assets/svg/multichainCard1.svg);
    }
    &__item2 {
        background-image: url(../../../assets/svg/multichainCard1.svg);
    }
    &__item_title {
        font-size: 2em;
        margin-bottom: 9px;
        line-height: 120%;
    }
    &__item_num {
        color: #2962ef;
    }
    &__item_subtitle {
        font-size: 1.5em;
        color: #9292a1;
        line-height: 120%;
    }
}

@media only screen and (max-width: 991px) {
    .Multichain {
        &__title {
            margin-bottom: 40px;
        }
        &__list {
            flex-direction: column;
        }
        &__networks {
            font-size: 32px;
        }
        &__num {
            font-size: 48px;
        }
        &__item_title {
            font-size: 26px;
        }
        &__item_subtitle {
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .Multichain {
        &__networks {
            font-size: 24px;
        }
        &__num {
            font-size: 30px;
        }
        &__item_title {
            font-size: 22px;
        }
        &__item_subtitle {
            font-size: 16px;
        }
    }
}