.Welcome, .Welcome__fixed {
    background-image: url(../../../assets/svg/welcomeBG.svg);
    background-position: 50%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 0 5em;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    &__block {
        max-width: 1278px;
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 100%;
    }
    @keyframes firstBlockView {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &__first {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        transition: 0.5s all;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 2;
    }
    &__first_displayNone {
        transition: 0.5s all;
        display: none;
    }
    &__first_left, &__first_right {
        transition: 0.5s all;
        animation: firstBlockView 1s forwards;
    }
    &__first_right {
        max-width: 100%;
        transform: translateY(120px);
    }
    &__first_title {
        font-size: 4em;
        font-weight: 400;
        line-height: 112%;
        margin-bottom: 27px;
    }
    &__first_text {
        font-size: 1.125em;
        line-height: 120%;
        margin-bottom: 50px;
    }
    &__first_web {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 1.125em;
        line-height: 120%;
        font-weight: 500;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        .Welcome__first_arrow {
            margin-left: 9px;
            color: #090b18;
            transition: 0.4s ease-out;
        }
        &:hover {
            color: #2962ef;
            .Welcome__first_arrow {
                color: #2962ef;
                transform: translateX(10px);
            }
        }
    }
    &__first_bnts {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 63px;
    }
    &__first_create {
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        color: #fff;
        background-color: #090b18;
        border-radius: 7px;
        padding: 18px 58px;
        font-weight: 500;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        transition: all .25s cubic-bezier(.39, .575, .565, 1);
        font-size: 20px;
        line-height: 120%;
        border: none;
        outline: none;
        cursor: pointer;
        margin-right: 27px;
        img {
            position: absolute;
            top: 0;
            left: -20%;
            z-index: -1;
            max-height: 100%;
            transition: 0.5s all cubic-bezier(.39, .575, .565, 1);
            width: 3em;
            height: 10em;
            filter: blur(0.3em);
        }
        &:hover {
            img {
                left: 50%;
            }
            background-position: 60%;
        }
    }
    &__first_rate {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 18px;
    }
    &__first_trustpilot_rate, &__first_appstore_rate {
        font-size: .875em;
        line-height: 140%;
        gap: 9px;
        display: flex;
        justify-content: start;
        align-items: center;
        color: #9292a1;
    }
    &__second {
        width: 100%;
        margin-right: 2.5em;
        opacity: 0;
        transition: 0.5s all;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        
    }
    &__second_titles {
        height: 500px;
        overflow: hidden;
    }
    &__second_porfolio + &__second_porfolio {
        margin-top: 56px;
    }
    &__second_title {
        font-size: 1.3em;
        font-weight: 400;
        line-height: 140%;
        color: #9898b2;
        margin-bottom: 72px;
        font-weight: 400;
    }
    &__second_name {
        color: rgb(146, 146, 161);
        font-size: 3.9em;
        white-space: nowrap;
        font-weight: 500;
        line-height: 120%;
    }
    &__second_text {
        margin-top: 18px;
        letter-spacing: -.02em;
        font-size: 1em;
        line-height: 150%;
        height: 0;
        transition: 0.3s all;
        overflow: hidden;
    }
    @keyframes show {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &__second_img, &__second_img_last {
        transition: 1s all;
        max-width: 100%;
        opacity: 0;
        animation: show 1s forwards;
    }
    &__second_img_last {
        max-width: 200%;
    }
}
.Welcome__fixed {
    position: sticky;
    top: 0;
}
.Welcome__container {
    height: 4700px;
    position: relative;
}