.Tokens {
    margin-top: 24px;
    width: 100%;
    .blur_container {
        width: 60px;
        height: 20px;
        border-radius: 10px;
        position: relative;
    }
    .square {
        width: 100%;
        height: 100%;
        background-color: rgba(185, 185, 185, 0.2);
        backdrop-filter: blur(25px);
        position: absolute;
        border-radius: 15px;
    }
    &__title {
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        letter-spacing: normal;
        margin-bottom: 8px;
    }
    &__table {
        border: 1px solid #e6e7e9;
        border-radius: 12px;
        padding: 24px 24px 34px;
        box-shadow: 0px 2px 4px rgba(22, 22, 26, 0.06);
    }
    &__wallet {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 24px;
    }
    &__wallet_icon {
        width: 32px;
        height: 32px;
        background-color: rgb(37, 88, 217);
        border-radius: 4px;
        overflow: hidden;
        margin-right: 8px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    &__wallet_title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: -0.4px;
        color: #16161a;
    }
    &__wallet_balance {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: -0.4px;
        margin-right: 12px;
        margin-left: 4px;
        position: relative;
        .blur_container {
            width: 110px;
            height: 25px;
        }
    }
    &__wallet_proccents {
        padding: 4px;
        background-color: #f0f0f2;
        border-radius: 4px;
        white-space: nowrap;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: normal;
    }
    &__table_head, &__item {
        display: grid;
        grid-template-columns: 1fr repeat(3, 170px);
        column-gap: 8px;
        width: 100%;
    }
    &__table_head {
        border-bottom: 1px solid #e6e7e9;
        padding-bottom: 15px;
    }
    &__table_head p {
        font-size: 11px;
        line-height: 12px;
        font-weight: 400;
        letter-spacing: normal;
        color: #71727d;
    }
    &__item {
        height: 60px;
        align-items: center;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: -0.2px;
    }
    &__item_asset {
        display: flex;
        justify-content: start;
    }
    &__item_avatar {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
    &__item_subname img {
        width: 12px;
        height: 12px;
        margin-right: 4px;
    }
    &__item_balance {
        position: relative;
        .blur_container {
            width: 75px;
            height: 20px;
        }
    }
    &__item_subname {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: -0.2px;
        color: #71727d;
        display: flex;
        align-items: center;
        margin-top: 4px;
    }
    &__item_value {
        margin-bottom: 4px;
    }
    &__item_profit_positive, &__item_profit_negative {
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: -0.2px;
        color: #ff4a4a;
        display: flex;
        align-items: center;
        margin-top: 5px;
        span {
            width: 70px;
            display: flex;
            align-items: center;
            margin-left: 5px;
        }
        .blur_container {
            width: 40px;
            height: 15px;
        }
        .square {
            background-color: rgba(112, 181, 109, 0.2);;
        }
    }
    &__item_profit_positive {
        color: #01a643;
    }
}