.Token {
    width: 100%;
    margin-top: 20px;
    &__item {
        height: 60px;
        align-items: center;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: -0.2px;
        display: grid;
        grid-template-columns: 1fr repeat(3, 170px);
        column-gap: 8px;
        width: 100%;
    }
    &__item_asset {
        display: flex;
        justify-content: start;
    }
    &__item_avatar {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
    &__item_subname img {
        width: 12px;
        height: 12px;
        margin-right: 4px;
    }
    &__item_balance {
        position: relative;
        .blur_container {
            width: 75px;
            height: 20px;
        }
    }
    &__item_subname {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: -0.2px;
        color: #71727d;
        display: flex;
        align-items: center;
        margin-top: 4px;
    }
    &__item_value {
        margin-bottom: 4px;
    }
    &__item_profit_positive, &__item_profit_negative {
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: -0.2px;
        color: #ff4a4a;
        display: flex;
        align-items: center;
        margin-top: 5px;
        span {
            width: 70px;
            display: flex;
            align-items: center;
            margin-left: 5px;
        }
        .blur_container {
            width: 40px;
            height: 15px;
        }
        .square {
            background-color: rgba(112, 181, 109, 0.2);;
        }
    }
    &__item_profit_positive {
        color: #01a643;
    }
}

@media only screen and (max-width: 767px) {
    .Token {
        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__item_price {
            display: none;
        }
        &__item_balance {
            display: none;
        }
        &__item_values {
            width: 120px;
        }
    }
}