.FAQs {
    padding: 0 5em;
    background-color: #fff;
    &__block {
        max-width: 1278px;
        margin: 0 auto;
    }
    &__title {
        color: #9898b2;
        font-size: 1.75em;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 45px;
    }
}