.FAQs {
    padding: 0 5em;
    background-color: #fff;
    &__block {
        max-width: 1278px;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 45px;
    }
}

@media only screen and (max-width: 991px) {
    .FAQs {
        &__title {
            margin-bottom: 20px;
        }
    }
}