.accordion__item {
    width: 100%;
    max-height: 90px;
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid #f4f4f4;
    overflow: hidden;
    cursor: pointer;
}

.accordion__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion__header h4 {
    transition: 0.2s all;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 140%;
}

.accordion__header i {
    transition: 0.2s all;
    width: 3em;
    height: 3em;
    min-height: 3em;
    min-width: 3em;
    background-color: #f4f7ff;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
    display: flex;
    position: relative;
}

.accordion__content {
    margin: 50px 5px 5px 5px;
    white-space: pre-line;
    font-size: 1.125em;
    line-height: 120%;
    max-width: 824px;
}

@media only screen and (max-width: 991px) {
    .accordion__item {
        max-height: 50px;
    }
    
    .accordion__header h4 {
        font-size: 18px;
    }
    
    .accordion__header i {
        width: 16px;
        height: 16px;
        min-height: 16px;
        min-width: 16px;
    }
    
    .accordion__content {
        color: #9292a1;
        font-size: 16px;
        line-height: 120%;
    }
}