.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.4);
}
.DisconnectWalletModal {
    box-shadow: 0 4px 18px rgba(7,7,22,.2);
    width: 450px;
    border-radius: 12px;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    &__head {
        padding-top: 20px;
        padding-bottom: 19px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: -0.4px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__close {
        font-size: 27px;
        color: #000;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 22px;
        cursor: pointer;
        border-radius: 5px;
        padding: 3px;
        &:hover {
            background-color: #dadada;
        }
    }
    &__body {
        border-top: 1px solid #e6e7e9;
        border-bottom: 1px solid #e6e7e9;
        padding: 56px 24px;
        text-align: center;
    }
    &__text {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: -0.4px;
        white-space: nowrap;
    }
    &__wallet {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: -0.2px;
        margin-top: 8px;
        color: #71727d;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 440px;
        display: grid;
        gap: 16px;
        padding: 24px 32px;
        grid-template-columns: repeat(2, 1fr);
    }
    &__btn {
        height: 44px;
        background-color: transparent;
        color: #16161a;
        border: 1px solid #cdced3;
        border-radius: 8px;
        cursor: pointer;
        &:first-child {
            &:hover {
                background-color: #e0e0e0;
            }
        }
        &:last-child {
            color: #fff;
            background-color: #2962ef;
        }
    }
}